# Q1:

Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [140]:
# import all library
import selenium
import pandas as pd
from selenium import webdriver
import warnings
import time
warnings.filterwarnings('ignore')

In [141]:
#connect to the webedriver
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [142]:
url='https://www.naukri.com/'
#now we want to open a window on the url by webdriver
driver.get(url)

In [143]:
# find “Data Analyst” in “Skill, Designations, Companies” field
search_field_designation=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div[1]/input")
search_field_designation.send_keys('Data Analyst')

In [144]:
# find “Bangalore” in “enter the location” field
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys('Bangalore')

In [145]:
#click search button
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [146]:
#First we create 4 empty lists.In this lists the data will be stored while webscraping.
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [147]:
# extract all the tags where we have the job_title.
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
# extract the text from these tags one by one by looping over these tags and stored in created 'job_title' list
for i in title_tags:
    T=i.text
    job_title.append(T)

In [148]:
job_title[0:10]

['Business and Data Analyst',
 'SAS Analyst / data Analyst / Business analyst - Sas + SQL',
 'Data Analyst I',
 'Senior Data Analyst',
 'Senior Data Analyst, Data & Analytics',
 'Hiring - Zonal Data Analyst (Off Role) - Operations - Bangalore & Delh',
 'Senior Data Analyst',
 'Sr Domain Expert -Data Analysts',
 'Data Analyst Sr',
 'Data Analyst II']

In [149]:
# extract all the tags where we have the job_location.
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
# extract the text from these tags one by one by looping over these tags and stored in created 'job_location' list
for i in location_tags:
    L=i.text
    job_location.append(L)

In [150]:
job_location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [151]:
# extract all the tags where we have the company_name
company_name_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
# extract the text from these tags one by one by looping over these tags and stored in created 'company_name' list
for i in company_name_tags:
    C=i.text
    company_name.append(C)

In [152]:
company_name[0:10]

['CAREERDOST ENTERPRISE',
 'Leading US MNC into analytics',
 'Bioclinica',
 'Shell',
 'ReSource Pro Operational Solutions Pvt Ltd.',
 'Rupeek',
 'LatentView',
 'Siemens',
 'Epsilon',
 'Cerner']

In [153]:
# extract all the tags where we have the experience_required
experience_required_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
# extract the text from these tags one by one by looping over these tags and stored in created 'experience_required' list
for i in experience_required_tags:
    E=i.text
    experience_required.append(E)

In [154]:
experience_required[0:10]

['0-5 Yrs',
 '2-7 Yrs',
 '0-3 Yrs',
 '10-12 Yrs',
 '3-5 Yrs',
 '2-7 Yrs',
 '3-6 Yrs',
 '0-10 Yrs',
 '5-7 Yrs',
 '6-10 Yrs']

#now we have extracted the required data from the webpage and stored in the 4 lists mentioned above

In [155]:
# we check the length of each list
print(len(job_title),len(job_location),len(company_name),len(company_name))

20 20 20 20

In [156]:
#Now we create a dataframe for the first 10 jobs related scraped data
jobs=pd.DataFrame({})
jobs['job_title']=job_title[0:10]
jobs['job_location']=job_location[0:10]
jobs['company_name']=company_name[0:10]
jobs['experience_required']=experience_required[0:10]

In [157]:
jobs

,job_title,job_location,company_name,experience_required
0,Business and Data Analyst,Bangalore/Bengaluru,CAREERDOST ENTERPRISE,0-5 Yrs
1,SAS Analyst / data Analyst / Business analyst ...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Leading US MNC into analytics,2-7 Yrs
2,Data Analyst I,Bangalore/Bengaluru,Bioclinica,0-3 Yrs
3,Senior Data Analyst,Bangalore/Bengaluru,Shell,10-12 Yrs
4,"Senior Data Analyst, Data & Analytics",Bangalore/Bengaluru,ReSource Pro Operational Solutions Pvt Ltd.,3-5 Yrs
5,Hiring - Zonal Data Analyst (Off Role) - Opera...,"New Delhi, Bangalore/Bengaluru",Rupeek,2-7 Yrs
6,Senior Data Analyst,"Chennai, Bangalore/Bengaluru",LatentView,3-6 Yrs
7,Sr Domain Expert -Data Analysts,Bangalore/Bengaluru,Siemens,0-10 Yrs
8,Data Analyst Sr,Bangalore/Bengaluru,Epsilon,5-7 Yrs
9,Data Analyst II,Bangalore/Bengaluru,Cerner,6-10 Yrs

In [158]:
driver.close()

# Q2:

Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [59]:
# import all library
import selenium
import pandas as pd
from selenium import webdriver
import warnings
import time
warnings.filterwarnings('ignore')

In [60]:
# opening the webedriver
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [61]:
url='https://www.naukri.com/'
#now we want to open a window on the url by webdriver
driver.get(url)

In [62]:
# find “Data Scientist” in “Skill, Designations, Companies” field
search_field_designation=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div[1]/input")
search_field_designation.send_keys('Data Scientist')

In [63]:
# find “Bangalore” in “enter the location” field
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys('Bangalore')

In [64]:
#click search button
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [65]:
#First we create 4 empty lists.In this lists the data will be stored while webscraping.
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [66]:
# extract all the tags where we have the job_title.
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
# extract the text from these tags one by one by looping over these tags and stored in created 'job_title' list
for i in title_tags:
    T=i.text
    job_title.append(T)

In [67]:
job_title[0:10]

['Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Manager - Data Scientist Job @ Applied Materials - Bangalore',
 'Data Scientist 2',
 'Senior Data Scientist',
 'Senior Data Scientist/Data Scientist - Research/Analytics/Consulting',
 'Data Scientist',
 'Immediate requirement of Data Scientist ( Bangalore)',
 'Senior Data Scientist']

In [68]:
# extract all the tags where we have the job_location.
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
# extract the text from these tags one by one by looping over these tags and stored in created 'job_location' list
for i in location_tags:
    L=i.text
    job_location.append(L)

In [69]:
job_location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Whitefield)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [70]:
# extract all the tags where we have the company_name
company_name_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
# extract the text from these tags one by one by looping over these tags and stored in created 'company_name' list
for i in company_name_tags:
    C=i.text
    company_name.append(C)

In [71]:
company_name[0:10]

['Applied Materials',
 'Applied Materials',
 'Applied Materials',
 'Applied Materials',
 'PayPal',
 'Flipkart',
 'Hexaconcepts',
 'GSK India',
 'Firstsource Solutions Limited',
 'GSK India']

In [72]:
# extract all the tags where we have the experience_required
experience_required_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
# extract the text from these tags one by one by looping over these tags and stored in created 'experience_required' list
for i in experience_required_tags:
    E=i.text
    experience_required.append(E)

In [73]:
experience_required[0:10]

['0-3 Yrs',
 '4-7 Yrs',
 '2-7 Yrs',
 '10-15 Yrs',
 '7-10 Yrs',
 '5-8 Yrs',
 '6-9 Yrs',
 '4-7 Yrs',
 '2-7 Yrs',
 '5-9 Yrs']

#now we have extracted the required data from the webpage and stored in the 4 lists mentioned above

In [74]:
# we check the length of each list
print(len(job_title),len(job_location),len(company_name),len(company_name))

20 20 20 20

In [75]:
#Now we create a dataframe for the first 10 jobs related scraped data
jobs=pd.DataFrame({})
jobs['job_title']=job_title[0:10]
jobs['job_location']=job_location[0:10]
jobs['company_name']=company_name[0:10]
jobs['experience_required']=experience_required[0:10]

In [76]:
jobs

,job_title,job_location,company_name,experience_required
0,Data Scientist,Bangalore/Bengaluru,Applied Materials,0-3 Yrs
1,Data Scientist,Bangalore/Bengaluru,Applied Materials,4-7 Yrs
2,Data Scientist,Bangalore/Bengaluru,Applied Materials,2-7 Yrs
3,Manager - Data Scientist Job @ Applied Materia...,Bangalore/Bengaluru(Whitefield),Applied Materials,10-15 Yrs
4,Data Scientist 2,Bangalore/Bengaluru,PayPal,7-10 Yrs
5,Senior Data Scientist,Bangalore/Bengaluru,Flipkart,5-8 Yrs
6,Senior Data Scientist/Data Scientist - Researc...,Bangalore/Bengaluru,Hexaconcepts,6-9 Yrs
7,Data Scientist,Bangalore/Bengaluru,GSK India,4-7 Yrs
8,Immediate requirement of Data Scientist ( Bang...,Bangalore/Bengaluru,Firstsource Solutions Limited,2-7 Yrs
9,Senior Data Scientist,Bangalore/Bengaluru,GSK India,5-9 Yrs

In [77]:
#closed webdriver
driver.close()

# Q3:

In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [78]:
# import all library
import selenium
import pandas as pd
from selenium import webdriver
import warnings
import time
warnings.filterwarnings('ignore')

In [79]:
# opening the webedriver
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [82]:
url="https://www.naukri.com/"
driver.get(url)

In [83]:
# find “Data Scientist” in “Skill, Designations, Companies” field
search_field_designation=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div[1]/input")
search_field_designation.send_keys('Data Scientist')

In [84]:
# find “Bangalore” in “enter the location” field
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys('Bangalore')

In [85]:
#click search button
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [ ]:
#using "Delhi/NCR" on location filter

In [86]:
location_filter=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[4]/label/p/span[1]")
location_filter.click()

In [88]:
# using "3-6laks" on salary filter
salary_filter=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
salary_filter.click()

In [89]:
# After using filter we create 4 empty lists.In this lists the data will be stored while webscraping.
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [90]:
# extract all the tags where we have the job_title.
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
# extract the text from these tags one by one by looping over these tags and stored in created 'job_title' list
for i in title_tags:
    T=i.text
    job_title.append(T)

In [91]:
job_title[0:10]

['Data Scientist/ Machine Learning, 2022 Passout Can also apply',
 'Data Scientist',
 'Data Scientist - Python/SQL',
 'Data Scientist',
 'Urgent opening For Data Scientist role',
 'Data & Applied Scientist',
 'Data and applied Scientist',
 'Data Scientist',
 'Senior Data Scientist Lead',
 'Data Analyst/Data Engineer']

In [92]:
# extract all the tags where we have the job_location.
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
# extract the text from these tags one by one by looping over these tags and stored in created 'job_location' list
for i in location_tags:
    L=i.text
    job_location.append(L)

In [93]:
job_location[0:10]

['Hyderabad/Secunderabad, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon, Bengaluru',
 'Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra, Gurgaon/Gurugram, Jaipur, Bangalore/Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Mumbai, Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru']

In [95]:
# extract all the tags where we have the company_name
company_name_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
# extract the text from these tags one by one looping over these tags and stored in created 'company_name' list
for i in company_name_tags:
    C=i.text
    company_name.append(C)

In [96]:
company_name[0:10]

['Creative Hands HR Consultancy',
 'BlackBuck',
 'AVE-Promagne',
 'Country Veggie',
 'GLOBAL UPSIDE India Pvt Ltd',
 'Microsoft',
 'Microsoft',
 'SpotDraft',
 'Wipro',
 'Coforge']

In [97]:
# extract all the tags where we have the experience_required
experience_required_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
# extract the text from these tags one by one by looping over these tags and stored in created 'experience_required' list
for i in experience_required_tags:
    E=i.text
    experience_required.append(E)

In [98]:
experience_required[0:10]

['0-4 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '1-3 Yrs',
 '2-4 Yrs',
 '3-7 Yrs',
 '3-7 Yrs',
 '1-5 Yrs',
 '6-11 Yrs',
 '6-10 Yrs']

#now we have extracted the required data from the webpage and stored in the 4 lists mentioned above

In [99]:
# we check the length of each list
print(len(job_title),len(job_location),len(company_name),len(company_name))

20 20 20 20

In [100]:
#Now we create a dataframe for the first 10 jobs related scraped data
jobs=pd.DataFrame({})
jobs['job_title']=job_title[0:10]
jobs['job_location']=job_location[0:10]
jobs['company_name']=company_name[0:10]
jobs['experience_required']=experience_required[0:10]

In [102]:
#Finaly we created the required DataFrame
jobs

,job_title,job_location,company_name,experience_required
0,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Ahmedabad, Chennai, Ba...",Creative Hands HR Consultancy,0-4 Yrs
1,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
2,Data Scientist - Python/SQL,"Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra...",AVE-Promagne,3-8 Yrs
3,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3 Yrs
4,Urgent opening For Data Scientist role,"New Delhi, Bangalore/Bengaluru",GLOBAL UPSIDE India Pvt Ltd,2-4 Yrs
5,Data & Applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
6,Data and applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
7,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",SpotDraft,1-5 Yrs
8,Senior Data Scientist Lead,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Wipro,6-11 Yrs
9,Data Analyst/Data Engineer,"Noida, Mumbai, Hyderabad/Secunderabad, Pune, B...",Coforge,6-10 Yrs

In [40]:
#closed webdrive
driver.close()

# Q4:

Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [147]:
#import all library
import pandas as pd
import selenium
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

In [169]:
driver=webdriver.Chrome('chromedriver.exe')

In [170]:
#first we get the webpage:https://www.flipkart.com/
url=" https://www.flipkart.com/"
driver.get(url)

In [171]:
# avoid the login page
login_page=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
login_page.click()

In [172]:
# find “Sunglasses” in “products,brands and more” field
search_field_product=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_field_product.send_keys("sunglasses")

In [173]:
#click on search button
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [174]:
#after going to the sunglasses page,we create 3 empty lists.In this lists the data will be stored while webscraping.
brand=[]
product_description=[]
price=[]

In [175]:
#extract all the brand tags of sunglasses
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
# extract the text from these tags one by one looping over these tags and stored in brand list
for i in brand_tags:
    B=i.text
    brand.append(B)

In [176]:
len(brand)

40

In [177]:
# extract all the product description tags of sunglasses
product_description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
#extract the text from these tags one by one by looping over these tags and stored in product_description list
for i in product_description_tags:
    P=i.text
    product_description.append(P)

In [178]:
len(product_description)

40

In [179]:
#extract all the price tags of sunglasses
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
# extract the text from these tags one by one looping over these tags and stored in price list
for i in price_tags:
    p=i.text
    price.append(p)

In [180]:
len(price)

40

In [181]:
#since we have to extract 100 sungasses data,we are going to the next page by next button click
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_button.click()

In [182]:
#extract all the brand tags of next page of sunglasses
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
# extract the text from these tags one by one looping over these tags and stored in brand list
for i in brand_tags:
    B=i.text
    brand.append(B)

In [183]:
len(brand)

80

In [184]:
# extract all the product description tags of next page of sunglasses
product_description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
#extract the text from these tags one by one by looping over these tags and stored in product_description list
for i in product_description_tags:
    P=i.text
    product_description.append(P)

In [185]:
len(product_description)

80

In [186]:
#extract all the price tags of next page of sunglasses
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
# extract the text from these tags one by one looping over these tags and stored in price list
for i in price_tags:
    p=i.text
    price.append(p)

In [187]:
len(price)

80

In [188]:
# we have to extract 100 sungasses data but we extract only 80 sunglass data.so,we are going to the third page of sunglasses
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_button.click()

In [189]:
#extract all the brand tags of sunglasses
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
# extract the text from these tags one by one looping over these tags and stored in brand list
for i in brand_tags:
    B=i.text
    brand.append(B)

In [190]:
len(brand)

120

In [191]:
# extract all the product description tags of third page of sunglasses
product_description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
#extract the text from these tags one by one by looping over these tags and stored in product_description list
for i in product_description_tags:
    P=i.text
    product_description.append(P)

In [192]:
len(product_description)

120

In [193]:
#extract all the price tags of third page of sunglasses
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
# extract the text from these tags one by one looping over these tags and stored in price list
for i in price_tags:
    p=i.text
    price.append(p)

In [194]:
len(price)

120

In [197]:
# we extracted >100 sunglasses data.now we are making a dataframe of 100 sunglasses data
import pandas as pd
sunglasses=pd.DataFrame({})
sunglasses["Brand"]=brand[0:100]
sunglasses["Product Description"]=product_description[0:100]
sunglasses["Price"]=price[0:100]

In [199]:
#Finaly we made the required DataFrame of 100 data of sunglasses 
sunglasses

,Brand,Product Description,Price
0,Roadster,UV Protection Retro Square Sunglasses (60),₹399
1,CRYSTAL CART,"Polarized, UV Protection, Gradient, Riding Gla...",₹349
2,Elligator,UV Protection Round Sunglasses (54),₹295
3,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹269
4,SRPM,UV Protection Wayfarer Sunglasses (50),₹249
...,...,...,...
95,john jacobs,"Polarized, UV Protection Retro Square Sunglass...","₹3,500"
96,Fastrack,UV Protection Wayfarer Sunglasses (58),₹989
97,NuVew,"UV Protection, Mirrored Aviator Sunglasses (57)",₹185
98,NuVew,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹223
99,Cristiano Ronnie,"UV Protection, Riding Glasses Aviator Sunglass...",₹449

In [201]:
#closed webdrive
driver.close()

# Q5:

Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [54]:
#import all library
import pandas as pd
import selenium
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

In [55]:
#connect to the webdriver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [56]:
driver.get("https://www.flipkart.com/apple-iphone-12-black-128-gb/product-reviews/itmf1f0a58f1ecd7?pid=MOBFWBYZK3HACR72&lid=LSTMOBFWBYZK3HACR72PX4KSA&marketplace=FLIPKART")

In [57]:
rating=[]
review_summary=[]
full_review=[]

In [58]:
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags:
    R=i.text
    rating.append(R)
len(rating)

10

In [59]:
rating

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [60]:
review_summery_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_summery_tags:
    RE=i.text
    review_summary.append(RE)
len(review_summary)

10

In [61]:
review_summary

['Terrific',
 'Perfect product!',
 'Terrific purchase',
 'Mind-blowing purchase',
 'Awesome',
 'Awesome',
 'Highly recommended',
 'Must buy!',
 'Brilliant',
 'Brilliant']

In [62]:
full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]")
for i in full_review_tags:
    F=i.text
    full_review.append(F)
len(full_review)

10

In [63]:
full_review

['Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'The brand is very trustworthy and i got genuine pice at a very low cost.I ordered the green one and trust me the colour was amazing.All the colours but specifically green and purple are nice for look.Thanks to flipkart❤️',
 'Awesome phone … value for money.. Happy with battery life.. Awesome camera features… look at the images snapped using the phone… easy to use.. Just feared about getting scratch at back glass… but using cover helped it…',
 'Guys ,this is just Beast at Every Aspect of Configurations, Full Pack with What You want, Like Best Camera , Best Display, Best Battery for whole Day Use, And Everyone know About Processing Speed👌..',
 "Thanks flipkart i trust you got my device perfectly loved it best phone in it's segment",
 'Excellent product worth for every penny, writing this review after using 7 days, earlier was using iPhone 6Plus now on iPhone 12 😍, faster then anything this else.\nExcellent Picture quality.\nJust loved it.!!',
 'My 1st iPhone ever and I’m loving it. Great performance, awesome display, camera is outstanding which comes with heavily priced. But worth it. White color looks super cool. 🎉😊😍',
 'Delightful phone, the phone is just a peice of art, sleek, eye catchy, super fast and got everything u need...best one available',
 'It’s my first iPhone ever and I bought it with my earned money through part time jobs in college✌️\n\nI am a tech freak so you can trust my views -\n- A14 Bionic is the fastest, most efficient and reliable processor till date\n- The camera focuses so quickly that you can take DSLR quality photos.\n- The screen size 6.1 inches is the most comfortable screen size out there and the OLED retina XDR display is so crisp and everything feels real.\n- The stereo speakers are so clear even on high volume an...\nREAD MORE',
 'Excellent product worth every penny right this review after using 7 days earlier was using phone iPhone 6s now on iPhone 12😍😍 faster than anything this else… excellent picture quality just love it iPhone12']

In [64]:
next_button_tag=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span")
next_button_tag.click()
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags:
    R=i.text
    rating.append(R)
print(len(rating))    
review_summery_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_summery_tags:
    RE=i.text
    review_summary.append(RE)
print(len(review_summary))
full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]")
for i in full_review_tags:
    F=i.text
    full_review.append(F)
print(len(full_review))

20
20
20

In [65]:
next_button_tag=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button_tag.click()
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags:
    R=i.text
    rating.append(R)
print(len(rating))    
review_summery_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_summery_tags:
    RE=i.text
    review_summary.append(RE)
print(len(review_summary))
full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]")
for i in full_review_tags:
    F=i.text
    full_review.append(F)
print(len(full_review))

30
30
30

In [66]:
next_button_tag=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button_tag.click()
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags:
    R=i.text
    rating.append(R)
print(len(rating))    
review_summery_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_summery_tags:
    RE=i.text
    review_summary.append(RE)
print(len(review_summary))
full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]")
for i in full_review_tags:
    F=i.text
    full_review.append(F)
print(len(full_review))

39
40
40

In [68]:
next_button_tag=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button_tag.click()
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags:
    R=i.text
    rating.append(R)
print(len(rating))    
review_summery_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_summery_tags:
    RE=i.text
    review_summary.append(RE)
print(len(review_summary))
full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]")
for i in full_review_tags:
    F=i.text
    full_review.append(F)
print(len(full_review))

49
50
50

In [69]:
next_button_tag=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button_tag.click()
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags:
    R=i.text
    rating.append(R)
print(len(rating))    
review_summery_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_summery_tags:
    RE=i.text
    review_summary.append(RE)
print(len(review_summary))
full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]")
for i in full_review_tags:
    F=i.text
    full_review.append(F)
print(len(full_review))

59
60
60

In [70]:
next_button_tag=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button_tag.click()
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags:
    R=i.text
    rating.append(R)
print(len(rating))    
review_summery_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_summery_tags:
    RE=i.text
    review_summary.append(RE)
print(len(review_summary))
full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]")
for i in full_review_tags:
    F=i.text
    full_review.append(F)
print(len(full_review))

69
70
70

In [71]:
next_button_tag=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button_tag.click()
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags:
    R=i.text
    rating.append(R)
print(len(rating))    
review_summery_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_summery_tags:
    RE=i.text
    review_summary.append(RE)
print(len(review_summary))
full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]")
for i in full_review_tags:
    F=i.text
    full_review.append(F)
print(len(full_review))

79
80
80

In [72]:
next_button_tag=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button_tag.click()
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags:
    R=i.text
    rating.append(R)
print(len(rating))    
review_summery_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_summery_tags:
    RE=i.text
    review_summary.append(RE)
print(len(review_summary))
full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]")
for i in full_review_tags:
    F=i.text
    full_review.append(F)
print(len(full_review))

89
90
90

In [73]:
next_button_tag=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button_tag.click()
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags:
    R=i.text
    rating.append(R)
print(len(rating))    
review_summery_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_summery_tags:
    RE=i.text
    review_summary.append(RE)
print(len(review_summary))
full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]")
for i in full_review_tags:
    F=i.text
    full_review.append(F)
print(len(full_review))

99
100
100

In [74]:
next_button_tag=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button_tag.click()
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags:
    R=i.text
    rating.append(R)
print(len(rating))    
review_summery_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_summery_tags:
    RE=i.text
    review_summary.append(RE)
print(len(review_summary))
full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]")
for i in full_review_tags:
    F=i.text
    full_review.append(F)
print(len(full_review))

109
110
110

In [77]:
# we extracted >100 iphone11 rating data.now we are making a dataframe of 100 sunglasses data
import pandas as pd
iphone11_review=pd.DataFrame({})
iphone11_review["Rating"]=rating[0:100]
iphone11_review["Review Summery"]=review_summary[0:100]
iphone11_review["Full Review"]=full_review[0:100]

In [78]:
iphone11_review

,Rating,Review Summery,Full Review
0,5,Terrific,Wow superb camera phone\nVery smooth speed and...
1,5,Perfect product!,The brand is very trustworthy and i got genuin...
2,5,Terrific purchase,Awesome phone … value for money.. Happy with b...
3,5,Mind-blowing purchase,"Guys ,this is just Beast at Every Aspect of Co..."
4,5,Awesome,Thanks flipkart i trust you got my device perf...
...,...,...,...
95,5,Just wow!,My final review after using it for whole one w...
96,5,Brilliant,Worth the money invested. My first iPhone and ...
97,4,Awesome,I recently upgraded to the iPhone 12 and I hav...
98,3,Pretty good,Definitely an awesome product...an awesome exp...
99,5,Nice,"An apple fan, I find iPhone 12 light, easier t..."

In [75]:
driver.close()

# Q6:

Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

Note: All the steps required during scraping should be done through code only and not manually.

In [56]:
#import all Library
import pandas as pd
import selenium
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

In [89]:
#open webdriver
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(5)

In [90]:
#link of the page open in the webdriver
url="https://www.flipkart.com/?ef_id=36fc67681e3e112993d5050f924742af:G:s&s_kwcid=AL!739!10!76003876838574!76003887545054&semcmpid=sem_F1167BY7_Brand_adcenter"
driver.get(url)

In [91]:
#ignore the log in page
ignore_login_page=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
ignore_login_page.click()

In [92]:
#find “sneakers” on search for products,brands and more bar on the page
search_sneakers=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_sneakers.send_keys("sneakers")

In [93]:
#click search button
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [94]:
#now we create 3 empty list where the data be stored while scrapingthe data from the page
brand=[]
product_description=[]
price=[]

Scrape data for sneakers from the first page

In [99]:
#extract all the brands tags from the page
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
#extract data converting into data and stored into brand list using by for loop
for i in brand_tags:
    B=i.text
    brand.append(B)
#extract all the product description tags from the page
product_description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC' or @class='IRpwTa']")
#extract data converting into data and stored into product_description list using by for loop
for i in product_description_tags:
    P=i.text
    product_description.append(P)
#extract all the price tags from the page
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
#extract data converting into data and stored into price list using by for loop
for i in price_tags:
    P=i.text
    price.append(P)

In [108]:
#check the length of the every list
print(len(brand),len(product_description),len(price))

80 80 80

In [104]:
#going to the next page by next button click
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_button.click()

Scrape data for sneakers from the second page

In [106]:
#extract all the brands tags from the page
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
#extract data converting into data and stored into brand list using by for loop
for i in brand_tags:
    B=i.text
    brand.append(B)
#extract all the product description tags from the page
product_description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC' or @class='IRpwTa']")
#extract data converting into data and stored into product_description list using by for loop
for i in product_description_tags:
    P=i.text
    product_description.append(P)
#extract all the price tags from the page
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
#extract data converting into data and stored into price list using by for loop
for i in price_tags:
    P=i.text
    price.append(P)

In [109]:
#check the length of the every list
print(len(brand),len(product_description),len(price))

80 80 80

In [110]:
#going to the next page by next button click
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_button.click()

Scrape data for sneakers from the third page

In [111]:
#extract all the brands tags from the page
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
#extract data converting into data and stored into brand list using by for loop
for i in brand_tags:
    B=i.text
    brand.append(B)
#extract all the product description tags from the page
product_description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC' or @class='IRpwTa']")
#extract data converting into data and stored into product_description list using by for loop
for i in product_description_tags:
    P=i.text
    product_description.append(P)
#extract all the price tags from the page
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
#extract data converting into data and stored into price list using by for loop
for i in price_tags:
    P=i.text
    price.append(P)

In [112]:
#check the length of the every list
print(len(brand),len(product_description),len(price))

120 120 120

In [114]:
# we extracted >100 sneakers data.now we are making a dataframe of 100 sunglasses data
import pandas as pd
sneakers=pd.DataFrame({})
sneakers["Brand"]=brand[0:100]
sneakers["Product Description"]=product_description[0:100]
sneakers["Price"]=price[0:100]

In [115]:
sneakers

            Brand                                Product Description Price
0             GLS                  SHORT (WHITE) 10 Sneakers For Men  ₹799
1             GLS                   LONG (BLACK) 11 Sneakers For Men  ₹849
2      D-SNEAKERZ  Casual , Partywear Sneakers Shoes For Men's An...  ₹299
3        URBANBOX                          Sneakers Sneakers For Men  ₹198
4          corsac        STYLISH MENS BLACK SNEAKER Sneakers For Men  ₹499
..            ...                                                ...   ...
95        Hotmess                                   Sneakers For Men  ₹228
96  RODDICK SHOES  Fashion Outdoor Canvas Casual Light Weight Lac...  ₹480
97        ESSENCE                            Trendy Sneakers For Men  ₹424
98   Stefano Rads                            Classy Sneakers For Men  ₹240
99        mohliye                                   Sneakers For Men  ₹299

[100 rows x 3 columns]

In [116]:
driver.close()

# Q7:

Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [8]:
#import all Library
import pandas as pd
import selenium
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

In [9]:
#open webdriver
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(5)

In [10]:
#link of the page open in the webdriver
url="http://www.myntra.com/shoes"
driver.get(url)

In [11]:
#Set Price filter to “Rs. 7149 to Rs. 14099 ”
price_filter_tag=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter_tag.click()

In [12]:
#set Color filter to “Black”
color_filter_tag=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_filter_tag.click()

In [13]:
#now we create 3 empty list where the data be stored while scrapingthe data from the page
brand=[]
product_description=[]
price=[]

scrap the shoes data from the first page

In [14]:
#extract all the brands tags from the page
brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
#extract data converting into data and stored into brand list using by for loop
for i in brand_tags:
    B=i.text
    brand.append(B)
#extract all the product description tags from the page
product_description_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
#extract data converting into data and stored into product_description list using by for loop
for i in product_description_tags:
    P=i.text
    product_description.append(P)
#extract all the price tags from the page
price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")
#extract data converting into data and stored into price list using by for loop
for i in price_tags:
    P=i.text
    price.append(P)

In [15]:
#check the length of the every list
print(len(brand),len(product_description),len(price))

50 50 50

In [17]:
#go to the next page
next_page_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]")
next_page_button.click()

scrap the shoes data from the next page

In [18]:
#extract all the brands tags from the page
brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
#extract data converting into data and stored into brand list using by for loop
for i in brand_tags:
    B=i.text
    brand.append(B)
#extract all the product description tags from the page
product_description_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
#extract data converting into data and stored into product_description list using by for loop
for i in product_description_tags:
    P=i.text
    product_description.append(P)
#extract all the price tags from the page
price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")
#extract data converting into data and stored into price list using by for loop
for i in price_tags:
    P=i.text
    price.append(P)

In [19]:
#check the length of the every list
print(len(brand),len(product_description),len(price))

100 100 100

In [21]:
# we extracted 100 shoes data.now we are making a dataframe of 100 sunglasses data
import pandas as pd
shoes=pd.DataFrame({})
shoes["Brand"]=brand[0:100]
shoes["Shoes Description"]=product_description[0:100]
shoes["Price"]=price[0:100]

In [22]:
shoes

            Brand                Shoes Description                      Price
0            Nike   AIRFORCE 1'07 LV8 EMB Sneakers  Rs. 8725Rs. 9695(10% OFF)
1            Nike     AIR FORCE 1 '07 LV8 Sneakers  Rs. 8725Rs. 9695(10% OFF)
2            ALDO        Men Leather Driving Shoes                  Rs. 12999
3        Skechers       Men Max Cushioning Running  Rs. 7649Rs. 8999(15% OFF)
4        Skechers                Men Walking Shoes  Rs. 7649Rs. 8999(15% OFF)
..            ...                              ...                        ...
95       DAVINCHI  Men Solid Leather Formal Derbys                   Rs. 9990
96        Bugatti                Men Walking Shoes  Rs. 7199Rs. 8999(20% OFF)
97  Royal Enfield             Cabo WP Riding Boots   Rs. 8075Rs. 8500(5% OFF)
98          ASICS    Men Colourblocked PU Sneakers  Rs. 7999Rs. 9999(20% OFF)
99   Sole To Soul  Platform Peep Toes with Buckles                   Rs. 7690

[100 rows x 3 columns]

In [23]:
driver.close()

# Q8:

Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [1]:
#import all Library
import pandas as pd
import selenium
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

In [2]:
#open webdriver
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(5)

In [3]:
#link of the page open in the webdriver
url="https://www.amazon.in/"
driver.get(url)

In [4]:
##Enter “Laptop” in the search field and then click the search icon.
driver.get("https://www.amazon.in/s?k=Laptop&crid=YAI7F84QEFVP&sprefix=laptop%2Caps%2C415&ref=nb_sb_noss_1")

In [86]:
#set CPU Type filter to “Intel Core i7” and “Intel Core i9” 
i7_filter_tag=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[12]/span/a/div/label/i")
i7_filter_tag.click()

In [91]:
title=[]
rating=[]
price=[]

In [92]:
title_tag=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title_tag:
    T=i.text
    title.append(T)
rating_tag=driver.find_elements_by_xpath("//span[@class='a-size-base s-underline-text']")
for i in rating_tag:
    R=i.text
    rating.append(R)
price_tag=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in price_tag:
    P=i.text
    price.append(P)
print(len(title),len(rating),len(price))

30 28 30

In [93]:
title=title[0:10]
rating=rating[0:10]
price=price[0:10]

In [96]:
##Enter “Laptop” in the search field and then click the search icon.
driver.get("https://www.amazon.in/s?k=Laptop&crid=YAI7F84QEFVP&sprefix=laptop%2Caps%2C415&ref=nb_sb_noss_1")

In [97]:
#set CPU Type filter to “Intel Core i7” and “Intel Core i9” 
i9_filter_tag=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[13]/span/a/div/label/i")
i9_filter_tag.click()

In [98]:
title_tag=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title_tag:
    T=i.text
    title.append(T)
rating_tag=driver.find_elements_by_xpath("//span[@class='a-size-base s-underline-text']")
for i in rating_tag:
    R=i.text
    rating.append(R)
price_tag=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in price_tag:
    P=i.text
    price.append(P)
print(len(title),len(rating),len(price))

19 14 19

In [100]:
#making DataFrame
import pandas as pd
laptop=pd.DataFrame({})
laptop["Laptop Title"]=title[0:10]
laptop["Rating"]=rating[0:10]
laptop["Price"]=price[0:10]

In [101]:
laptop

                                        Laptop Title Rating   Price
0  Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...    680  37,990
1  HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB S...  1,907  38,990
2  Lenovo IdeaPad 3 11th Gen Intel i3 15.6" FHD T...    134  41,990
3  Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...    680  37,990
4  HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB S...  1,907  38,990
5  Dell New Vostro 3510 Laptop, Intel i3-1005G1, ...    658  38,990
6  Dell New Inspiron 3511 Laptop Intel i3-1115G4 ...      6  39,190
7  ASUS VivoBook 14 (2021), Intel Core i3-1115G4 ...     62  35,990
8  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    170  35,990
9  Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...    146  36,990

In [5]:
driver.close()

# Q9:

Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [125]:
# import all library
import selenium
import pandas as pd
from selenium import webdriver
import warnings
import time
warnings.filterwarnings('ignore')

In [6]:
#connect to the webedriver
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [7]:
url='https://www.ambitionbox.com/'
#now we want to open a webpage on the url by webdriver
driver.get(url)

In [8]:
#click on job option
job_option_tags=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
job_option_tags.click()

In [129]:
#Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
search_field_designation=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_field_designation.send_keys('Data Scientist')
search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search_button.click()

In [130]:
#click on location
location_tag=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]")
location_tag.click()

In [131]:
#in place of “Search location” enter “Noida”
search_tag=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_tag.send_keys("Noida")

In [132]:
search_button=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
search_button.click()

In [133]:
#First we create 3 empty lists.In this lists the data will be stored while webscraping.
rating=[]
days=[]
company_name=[]

In [134]:
#scrape company name, No. of days ago when job was posted, Rating of the company and stored into the 3 above created list
company_name_tags=driver.find_elements_by_xpath("//div[@class='company-info']/p[1]")
for i in company_name_tags:
    C=i.text
    company_name.append(C)
days_tags=driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")
for i in days_tags:
    D=i.text
    days.append(D)
rating_tags=driver.find_elements_by_xpath("//span[@class='body-small']")
for i in rating_tags:
    R=i.text
    rating.append(R)

In [135]:
print(len(company_name),len(days),len(rating))

11 10 10

In [103]:
company_name

[' · ',
 'GENPACT India Private Limited',
 'GENPACT India Private Limited',
 'Tech Mahindra Ltd',
 'GENPACT India Private Limited',
 'HCL Technologies',
 'Zyoin',
 'Newgen Software Technologies Ltd.',
 'Pitney Bowes India Pvt Ltd',
 'JK Technosoft Ltd',
 'Microsoft India (R and D) Pvt Ltd']

In [104]:
days

['1d ago',
 '6d ago',
 '20d ago',
 '23d ago',
 '27d ago',
 '5d ago',
 '7d ago',
 '1mon ago',
 '16d ago',
 '2mon ago']

In [105]:
rating

['4.0', '4.0', '3.7', '4.0', '3.8', '4.1', '3.5', '4.2', '3.6', '4.3']

In [107]:
# we extracted 10 job results for Data Scientist Designation in Noida location
import pandas as pd
jobs=pd.DataFrame({})
jobs["Company Name"]=company_name[1:11]
jobs["No. of days ago when job was posted"]=days[0:10]
jobs["Rating"]=rating[0:10]

In [108]:
jobs

,Company Name,No. of days ago when job was posted,Rating
0,GENPACT India Private Limited,1d ago,4.0
1,GENPACT India Private Limited,6d ago,4.0
2,Tech Mahindra Ltd,20d ago,3.7
3,GENPACT India Private Limited,23d ago,4.0
4,HCL Technologies,27d ago,3.8
5,Zyoin,5d ago,4.1
6,Newgen Software Technologies Ltd.,7d ago,3.5
7,Pitney Bowes India Pvt Ltd,1mon ago,4.2
8,JK Technosoft Ltd,16d ago,3.6
9,Microsoft India (R and D) Pvt Ltd,2mon ago,4.3

In [9]:
driver.close()

# Q10:

Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [1]:
# import all library
import selenium
import pandas as pd
from selenium import webdriver
import warnings
import time
warnings.filterwarnings('ignore')

In [13]:
#connect to the webedriver
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [14]:
url="http://www.ambitionbox.com/"
#now we want to open a webpage on the url by webdriver
driver.get(url)

In [15]:
#lick on the salaries option 
salary_tags=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary_tags.click()

In [16]:
#Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”
job_profile_tag=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
job_profile_tag.send_keys("Data Scientist")

In [17]:
search_button_tags=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]")
search_button_tags.click()

creating 6 empty list to stored the company name, total salary record, average salary, minimum salary, maximum salary, experience

In [18]:
company_name=[]
salary_record=[]
avg_salary=[]
min_salary=[]
max_salary=[]
experience=[]

 Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience

In [21]:
company_name_tags=driver.find_elements_by_xpath("//div[@class='company-info']")
for i in company_name_tags:
    C=i.text
    company_name.append(C)

In [22]:
company_name

['Walmart\nbased on 11 salaries\nData Scientist\n . \n3 yrs exp',
 'Ab Inbev\nbased on 32 salaries\nData Scientist\n . \n3-4 yrs exp',
 'Reliance Jio\nbased on 10 salaries\nData Scientist\n . \n4 yrs exp',
 'ZS\nbased on 15 salaries\nData Scientist\n . \n2 yrs exp',
 'Optum\nbased on 27 salaries\nData Scientist\n . \n3-4 yrs exp',
 'Fractal Analytics\nbased on 81 salaries\nData Scientist\n . \n2-4 yrs exp',
 'Tiger Analytics\nbased on 46 salaries\nData Scientist\n . \n2-4 yrs exp',
 'UnitedHealth\nbased on 53 salaries\nData Scientist\n . \n2-4 yrs exp',
 'Verizon\nbased on 14 salaries\nData Scientist\n . \n4 yrs exp',
 'Ganit Business Solutions\nbased on 13 salaries\nData Scientist\n . \n4 yrs exp',
 'TCS\n3.1\nSalary Rating \n34.2k reviews',
 'Cognizant\n3.4\nSalary Rating \n22.7k reviews',
 'Accenture\n3.6\nSalary Rating \n24.9k reviews',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [25]:
salary_record_tags=driver.find_elements_by_xpath("//div[@class='name']")
for i in salary_record_tags:
    S=i.text
    salary_record.append(S)

In [26]:
salary_record

['Walmart\nbased on 11 salaries',
 'Ab Inbev\nbased on 32 salaries',
 'Reliance Jio\nbased on 10 salaries',
 'ZS\nbased on 15 salaries',
 'Optum\nbased on 27 salaries',
 'Fractal Analytics\nbased on 81 salaries',
 'Tiger Analytics\nbased on 46 salaries',
 'UnitedHealth\nbased on 53 salaries',
 'Verizon\nbased on 14 salaries',
 'Ganit Business Solutions\nbased on 13 salaries']

In [49]:
salary=[]
for i in salary_record:
    m=i.split()[0]
    salary.append(m)

In [50]:
salary

['Walmart',
 'Ab',
 'Reliance',
 'ZS',
 'Optum',
 'Fractal',
 'Tiger',
 'UnitedHealth',
 'Verizon',
 'Ganit']

In [27]:
avg_salary_tags=driver.find_elements_by_xpath("//p[@class='averageCtc']")
for i in avg_salary_tags:
    A=i.text
    avg_salary.append(A)

In [28]:
avg_salary

['₹ 29.7L',
 '₹ 20.5L',
 '₹ 18.9L',
 '₹ 15.9L',
 '₹ 15.2L',
 '₹ 15.2L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 12.7L',
 '₹ 12.4L']

In [132]:
min_salary=[]

In [133]:
min_salary_tags=driver.find_elements_by_xpath("//div[@class='value body-medium']")
for i in min_salary_tags:
    min=i.text
    min_salary.append(min)

In [134]:
min_salary

['₹ 25.0L',
 '₹ 35.0L',
 '₹ 15.0L',
 '₹ 25.5L',
 '₹ 5.6L',
 '₹ 26.2L',
 '₹ 9.8L',
 '₹ 20.0L',
 '₹ 11.0L',
 '₹ 22.0L',
 '₹ 9.5L',
 '₹ 22.0L',
 '₹ 9.0L',
 '₹ 20.0L',
 '₹ 8.3L',
 '₹ 20.5L',
 '₹ 10.0L',
 '₹ 21.0L',
 '₹ 8.5L',
 '₹ 15.0L']

In [135]:
i=1
while(i<11):
    min_salary.pop(i)
    i=i+1

In [136]:
min_salary

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 5.6L',
 '₹ 9.8L',
 '₹ 11.0L',
 '₹ 9.5L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 10.0L',
 '₹ 8.5L']

In [121]:
max_salary=[]
max_salary_tags=driver.find_elements_by_xpath("//div[@class='value body-medium']")
for i in max_salary_tags:
    max=i.text
    max_salary.append(max)

In [122]:
max_salary

['₹ 25.0L',
 '₹ 35.0L',
 '₹ 15.0L',
 '₹ 25.5L',
 '₹ 5.6L',
 '₹ 26.2L',
 '₹ 9.8L',
 '₹ 20.0L',
 '₹ 11.0L',
 '₹ 22.0L',
 '₹ 9.5L',
 '₹ 22.0L',
 '₹ 9.0L',
 '₹ 20.0L',
 '₹ 8.3L',
 '₹ 20.5L',
 '₹ 10.0L',
 '₹ 21.0L',
 '₹ 8.5L',
 '₹ 15.0L']

In [123]:
max_salary
i=0
while(i<10):
    max_salary.pop(i)
    i=i+1

In [124]:
max_salary

['₹ 35.0L',
 '₹ 25.5L',
 '₹ 26.2L',
 '₹ 20.0L',
 '₹ 22.0L',
 '₹ 22.0L',
 '₹ 20.0L',
 '₹ 20.5L',
 '₹ 21.0L',
 '₹ 15.0L']

In [39]:
experience_tags=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
for i in experience_tags:
    E=i.text
    experience.append(E)

In [45]:
experience

['Data Scientist\n . \n3 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n2 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n4 yrs exp']

In [47]:
exp=[]
for i in experience:
    ex=i.replace('Data Scientist','').replace('.','').replace('\n','')
    exp.append(ex)

In [48]:
exp

['  3 yrs exp',
 '  3-4 yrs exp',
 '  4 yrs exp',
 '  2 yrs exp',
 '  3-4 yrs exp',
 '  2-4 yrs exp',
 '  2-4 yrs exp',
 '  2-4 yrs exp',
 '  4 yrs exp',
 '  4 yrs exp']

In [ ]:
after scraping the required data ,making a dataframe

In [137]:
import pandas as pd
df=pd.DataFrame({})
df['Company Name']=company_name[0:10]
df['Total Salary Record']=salary[0:10]
df['Average Salary']=avg_salary[0:10]
df['Minimum Salary']=min_salary[0:10]
df['Maximum Salary']=max_salary[0:10]
df['Experiencr Required']=exp[0:10]

In [138]:
df

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experiencr Required
0,Walmart\nbased on 11 salaries\nData Scientist\...,Walmart,₹ 29.7L,₹ 25.0L,₹ 35.0L,3 yrs exp
1,Ab Inbev\nbased on 32 salaries\nData Scientist...,Ab,₹ 20.5L,₹ 15.0L,₹ 25.5L,3-4 yrs exp
2,Reliance Jio\nbased on 10 salaries\nData Scien...,Reliance,₹ 18.9L,₹ 5.6L,₹ 26.2L,4 yrs exp
3,ZS\nbased on 15 salaries\nData Scientist\n . \...,ZS,₹ 15.9L,₹ 9.8L,₹ 20.0L,2 yrs exp
4,Optum\nbased on 27 salaries\nData Scientist\n ...,Optum,₹ 15.2L,₹ 11.0L,₹ 22.0L,3-4 yrs exp
5,Fractal Analytics\nbased on 81 salaries\nData ...,Fractal,₹ 15.2L,₹ 9.5L,₹ 22.0L,2-4 yrs exp
6,Tiger Analytics\nbased on 46 salaries\nData Sc...,Tiger,₹ 14.8L,₹ 9.0L,₹ 20.0L,2-4 yrs exp
7,UnitedHealth\nbased on 53 salaries\nData Scien...,UnitedHealth,₹ 14.0L,₹ 8.3L,₹ 20.5L,2-4 yrs exp
8,Verizon\nbased on 14 salaries\nData Scientist\...,Verizon,₹ 12.7L,₹ 10.0L,₹ 21.0L,4 yrs exp
9,Ganit Business Solutions\nbased on 13 salaries...,Ganit,₹ 12.4L,₹ 8.5L,₹ 15.0L,4 yrs exp

In [139]:
driver.close()