# 1) Write a python program to display all the header tags from wikipedia.org.

In [33]:
import  requests
from  bs4 import BeautifulSoup

url = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(url.text, 'html.parser')
header_tags= soup.find_all(['h1', 'h2','h3','h4','h5'])
for i in header_tags:
    print(i.name+" "+i.text.strip())

h1 Main Page
h1 Welcome to Wikipedia
h2 From today's featured article
h2 Did you know ...
h2 In the news
h2 On this day
h2 Today's featured picture
h2 Other areas of Wikipedia
h2 Wikipedia's sister projects
h2 Wikipedia languages
h2 Navigation menu
h3 Search

# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make DataFrame

In [34]:
from bs4 import BeautifulSoup
import requests

In [35]:
url="https://www.imdb.com/chart/top/?ref_=nv_mv_250"
page=requests.get(url)
page

In [36]:
soup=BeautifulSoup(page.content)

In [37]:
movies_name=[]
for i in soup.find_all('td',class_="titleColumn"):
    movies_name.append(i.text.replace('\n',''))
n=movies_name[0:100]

In [38]:
movies_rating=[]
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    movies_rating.append(i.text.replace('\n',''))
r=movies_rating[0:100]

In [39]:
year_of_release=[]
for i in soup.find_all('span',class_="secondaryInfo"):
    year_of_release.append(i.text)

In [40]:
y=year_of_release[0:100]

In [41]:
#Making Dataframe
import pandas as pd
df=pd.DataFrame({'Movies_Name':n,'Rating':r,'Year_Of_Release':y}).set_index('Movies_Name')

In [163]:
df

                                                   Rating Year_Of_Release
Movies_Name
      1.      The Shawshank Redemption(1994)          9.2          (1994)
      2.      The Godfather(1972)                     9.2          (1972)
      3.      The Dark Knight(2008)                   9.0          (2008)
      4.      The Godfather: Part II(1974)            9.0          (1974)
      5.      12 Angry Men(1957)                      9.0          (1957)
...                                                   ...             ...
      96.      M - Eine Stadt sucht einen Mörde...    8.3          (1931)
      97.      North by Northwest(1959)               8.3          (1959)
      98.      Jagten(2012)                           8.3          (2012)
      99.      Vertigo(1958)                          8.3          (1958)
      100.      Le fabuleux destin d'Amélie Pou...    8.3          (2001)

[100 rows x 2 columns]

# 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [42]:
import  requests
from  bs4 import BeautifulSoup

In [43]:
url="https://www.imdb.com/india/top-rated-indian-movies/"
page=requests.get(url)
page

In [44]:
soup=BeautifulSoup(page.content)

In [45]:
movies_name=[]
for i in soup.find_all('td',class_="titleColumn"):
    movies_name.append(i.text.replace('\n',''))
n=movies_name[0:100]

In [46]:
movies_rating=[]
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    movies_rating.append(i.text.replace('\n',''))
r=movies_rating[0:100]

In [47]:
year_of_release=[]
for i in soup.find_all('span',class_="secondaryInfo"):
    year_of_release.append(i.text)
y=year_of_release[0:100]

In [48]:
#Making Dataframe
import pandas as pd
df=pd.DataFrame({'Movies_Name':n,'Rating':r,'Year_Of_Release':y}).set_index('Movies_Name')

In [49]:
df

                                                 Rating Year_Of_Release
Movies_Name
      1.      Jai Bhim(2021)                        8.4          (2021)
      2.      Anbe Sivam(2003)                      8.4          (2003)
      3.      Pariyerum Perumal(2018)               8.4          (2018)
      4.      Golmaal(1979)                         8.4          (1979)
      5.      Nayakan(1987)                         8.4          (1987)
...                                                 ...             ...
      96.      The Legend of Bhagat Singh(2002)     8.0          (2002)
      97.      Sholay(1975)                         8.0          (1975)
      98.      Angoor(1982)                         8.0          (1982)
      99.      Baahubali 2: The Conclusion(2017)    8.0          (2017)
      100.      Maheshinte Prathikaaram(2016)       8.0          (2016)

[100 rows x 2 columns]

# 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7v

In [50]:
import requests
from bs4 import BeautifulSoup

In [51]:
url='https://meesho.com/bags-ladies/pl/p7vbp'
page=requests.get(url)
page

In [52]:
soup=BeautifulSoup(page.content)

In [53]:
Product_name=[]
for i in soup.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 cPgaBh NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 hofZGw NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 hofZGw"):
    Product_name.append(i.text)

In [54]:
Product_name

['Elite Alluring Women Handbags',
 'Gorgeous Fancy Women Handbags',
 'Gorgeous Fancy Women Handbags',
 'Voguish Stylish Women Handbags',
 'Elite Classy Women Handbags',
 'Elegant Fashionable Women Handbags',
 'Classic Fashionable Women Handbags',
 'Gorgeous Stylish Women Handbags',
 'Trendy Alluring Women Handbags',
 'Trendy Fashionable Women Handbags',
 'Trendy Fancy Women Handbags',
 'Elegant Versatile Women Handbags',
 'Elegant Fancy Women Handbags',
 'Trendy Fashionable Women Handbags',
 "Trendy Women's Leather Handbag",
 'Classic Alluring Women Handbags',
 'Classic Stylish Women Handbags',
 'Ravishing Versatile Women Handbags',
 'Voguish Classy Women Handbags',
 'Classic Fancy Women Handbags']

In [55]:
price=[]
for i in soup.find_all('h5',class_="Text__StyledText-sc-oo0kvp-0 dLSsNI"):
    price.append(i.text)

In [56]:
price

['₹300',
 '₹3035',
 '₹434',
 '₹567',
 '₹824',
 '₹303',
 '₹656',
 '₹625',
 '₹1099',
 '₹1146',
 '₹4949',
 '₹615',
 '₹761',
 '₹339',
 '₹645',
 '₹145',
 '₹145',
 '₹430',
 '₹750',
 '₹448']

In [57]:
discount=[]
for i in soup.find_all('span',class_="Text__StyledText-sc-oo0kvp-0 cZvGTZ"):
    discount.append(i.text)

In [58]:
discount

['14% off',
 '2% off',
 '10% off',
 '8% off',
 '6% off',
 '14% off',
 '7% off',
 '7% off',
 '4% off',
 '4% off',
 '1% off',
 '8% off',
 '6% off',
 '13% off',
 '7% off',
 '15% off',
 '15% off',
 '10% off',
 '6% off',
 '10% off']

In [59]:
#Making DataFrame
import pandas as panda
df=pd.DataFrame({'PRODUCT_NAME':Product_name,'PRICE':price,'DISCOUNTS':discount})

In [60]:
df

                          PRODUCT_NAME  PRICE DISCOUNTS
0        Elite Alluring Women Handbags   ₹300   14% off
1        Gorgeous Fancy Women Handbags  ₹3035    2% off
2        Gorgeous Fancy Women Handbags   ₹434   10% off
3       Voguish Stylish Women Handbags   ₹567    8% off
4          Elite Classy Women Handbags   ₹824    6% off
5   Elegant Fashionable Women Handbags   ₹303   14% off
6   Classic Fashionable Women Handbags   ₹656    7% off
7      Gorgeous Stylish Women Handbags   ₹625    7% off
8       Trendy Alluring Women Handbags  ₹1099    4% off
9    Trendy Fashionable Women Handbags  ₹1146    4% off
10         Trendy Fancy Women Handbags  ₹4949    1% off
11    Elegant Versatile Women Handbags   ₹615    8% off
12        Elegant Fancy Women Handbags   ₹761    6% off
13   Trendy Fashionable Women Handbags   ₹339   13% off
14      Trendy Women's Leather Handbag   ₹645    7% off
15     Classic Alluring Women Handbags   ₹145   15% off
16      Classic Stylish Women Handbags   ₹145   15% off
17  Ravishing Versatile Women Handbags   ₹430   10% off
18       Voguish Classy Women Handbags   ₹750    6% off
19        Classic Fancy Women Handbags   ₹448   10% off

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating.

In [61]:
import requests
from bs4 import BeautifulSoup

In [62]:
#Answer of question (a)Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [63]:
url='https://www.icc-cricket.com/rankings/mens/team-rankings/test'
page=requests.get(url)
page

In [64]:
soup=BeautifulSoup(page.content)

In [65]:
match_name=[]
for i in soup.find_all('span',class_="u-hide-phablet"):
    match_name.append(i.text)
m=match_name[0:10]
m

['Australia',
 'India',
 'New Zealand',
 'South Africa',
 'England',
 'Pakistan',
 'Sri Lanka',
 'West Indies',
 'Bangladesh',
 'Zimbabwe']

In [66]:
points=[]
for i in soup.find_all('td',class_="rankings-block__banner--points"):
    points.append(i.text)
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    points.append(i.text)
points

['3,208',
 '35',
 '4,116',
 '31',
 '3,561',
 '26',
 '2,622',
 '45',
 '4,351',
 '34',
 '3,163',
 '33',
 '2,683',
 '37',
 '2,984',
 '22',
 '1,157',
 '11',
 '342']

In [67]:
i=1
while(i<10):
    points.pop(i)
    i=i+1
points

['3,208',
 '4,116',
 '3,561',
 '2,622',
 '4,351',
 '3,163',
 '2,683',
 '2,984',
 '1,157',
 '342']

In [68]:
rating=[]
for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    rating.append(i.text.replace('\n',"").replace(' ',''))
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
rating

['119', '118', '115', '101', '97', '93', '81', '81', '53', '31']

In [69]:
import pandas as pd 
df=pd.DataFrame({'Top 10 ODI teams':m,'Points':points,'Rating':rating})
df

  Top 10 ODI teams Points Rating
0        Australia  3,208    119
1            India  4,116    118
2      New Zealand  3,561    115
3     South Africa  2,622    101
4          England  4,351     97
5         Pakistan  3,163     93
6        Sri Lanka  2,683     81
7      West Indies  2,984     81
8       Bangladesh  1,157     53
9         Zimbabwe    342     31

In [70]:
# Answer of question (b)Top 10 ODI Batsmen along with the records of their team and rating.

In [71]:
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
page=requests.get(url)
page

In [72]:
soup=BeautifulSoup(page.content)

In [73]:
batsman_name=[]
for i in soup.find_all('div',class_="rankings-block__banner--name"):
    batsman_name.append(i.text)
x=batsman_name[0:1]
for i in soup.find_all('td',class_="table-body__cell name"):
    x.append(i.text.replace(' ','').replace("\n",''))
batsman_name=x[0:10]
batsman_name

['Babar Azam',
 'ViratKohli',
 'RossTaylor',
 'RohitSharma',
 'QuintondeKock',
 'JonnyBairstow',
 'AaronFinch',
 'RassievanderDussen',
 'DavidWarner',
 'Imam-ul-Haq']

In [74]:
team=[]
for i in soup.find_all("span",class_="table-body__logo-text"):
    team.append(i.text)
team=team[0:9]
team.insert(0,'PAK')

In [75]:
team

['PAK', 'IND', 'NZ', 'IND', 'SA', 'ENG', 'AUS', 'SA', 'AUS', 'PAK']

In [76]:
rating=[]
for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    rating.append(i.text)
x=rating[0:1]
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    x.append(i.text)
rating=x[0:10]
rating

['872', '811', '794', '791', '789', '775', '771', '769', '758', '746']

In [77]:
import pandas as pd
df=pd.DataFrame({"Top 10 ODI Batsman":batsman_name,'Team':team,'Rating':rating})
df

   Top 10 ODI Batsman Team Rating
0          Babar Azam  PAK    872
1          ViratKohli  IND    811
2          RossTaylor   NZ    794
3         RohitSharma  IND    791
4       QuintondeKock   SA    789
5       JonnyBairstow  ENG    775
6          AaronFinch  AUS    771
7  RassievanderDussen   SA    769
8         DavidWarner  AUS    758
9         Imam-ul-Haq  PAK    746

In [78]:
# Answer Of Question (c)Top 10 ODI bowlers along with the records of their team and rating.

In [79]:
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi"
page=requests.get(url)
page

In [80]:
soup=BeautifulSoup(page.content)

In [81]:
bowler_name=[]
for i in soup.find_all('div',class_="rankings-block__banner--name"):
    bowler_name.append(i.text)
x=bowler_name[1:2]
y=[]
for i in soup.find_all('td',class_="table-body__cell name"):
    y.append(i.text.replace('\n',''))
z=y[9:18]
x.extend(z)
x

['Trent Boult',
 'Josh Hazlewood',
 'Chris Woakes',
 'Matt Henry',
 'Mujeeb Ur Rahman',
 'Jasprit Bumrah',
 'Mehedi Hasan',
 'Shakib Al Hasan',
 'Adam Zampa',
 'Rashid Khan']

In [82]:
team=[]
for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
team=team[9:18]
team.insert(0,"NZ")
team

['NZ', 'AUS', 'ENG', 'NZ', 'AFG', 'IND', 'BAN', 'BAN', 'AUS', 'AFG']

In [83]:
rating=[]
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
rating=rating[9:18]
rating.insert(0,'733')
rating

['733', '705', '700', '687', '681', '679', '661', '657', '650', '650']

In [84]:
import pandas as pd
df=pd.DataFrame({'Top 10 ODI bowlers':x,'Team':team,'Reating':rating})
df

  Top 10 ODI bowlers Team Reating
0        Trent Boult   NZ     733
1     Josh Hazlewood  AUS     705
2       Chris Woakes  ENG     700
3         Matt Henry   NZ     687
4   Mujeeb Ur Rahman  AFG     681
5     Jasprit Bumrah  IND     679
6       Mehedi Hasan  BAN     661
7    Shakib Al Hasan  BAN     657
8         Adam Zampa  AUS     650
9        Rashid Khan  AFG     650

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and ratin

In [85]:
import requests
from bs4 import BeautifulSoup

In [86]:
#Answer of Question (a)Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [87]:
url='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
page=requests.get(url)
page

In [88]:
soup=BeautifulSoup(page.content)

In [89]:
match_name=[]
for i in soup.find_all('span',class_="u-hide-phablet"):
    match_name.append(i.text)
m=match_name[0:10]
m

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Pakistan',
 'Ireland',
 'Sri Lanka']

In [90]:
points=[]
for i in soup.find_all('td',class_="rankings-block__banner--points"):
    points.append(i.text)
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    points.append(i.text)
points

['4,663',
 '28',
 '3,504',
 '29',
 '3,425',
 '29',
 '2,890',
 '31',
 '3,018',
 '28',
 '2,478',
 '12',
 '935',
 '26',
 '1,753',
 '5',
 '240',
 '5',
 '233',
 '8',
 '0']

In [91]:
i=1
while(i<11):
    points.pop(i)
    i=i+1
points=points[0:10]

In [92]:
rating=[]
for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    rating.append(i.text.replace('\n',"").replace(' ',''))
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
rating=rating[0:10]

In [93]:
import pandas as pd 
df=pd.DataFrame({'Top 10 ODI teams':m,'Points':points,'Rating':rating})
df

  Top 10 ODI teams Points Rating
0        Australia  4,663    167
1     South Africa  3,504    125
2          England  3,425    118
3            India  2,890    100
4      New Zealand  3,018     97
5      West Indies  2,478     89
6       Bangladesh    935     78
7         Pakistan  1,753     67
8          Ireland    240     48
9        Sri Lanka    233     47

In [ ]:
Answer of question (b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [94]:
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
page=requests.get(url)
page

In [95]:
soup=BeautifulSoup(page.content)

In [96]:
batsman_name=[]
for i in soup.find_all('div',class_="rankings-block__banner--name"):
    batsman_name.append(i.text)
x=batsman_name[0:1]
for i in soup.find_all('td',class_="table-body__cell name"):
    x.append(i.text.replace("\n",''))
batsman_name=x[0:10]
batsman_name

['Laura Wolvaardt',
 'Beth Mooney',
 'Meg Lanning',
 'Natalie Sciver',
 'Alyssa Healy',
 'Mithali Raj',
 'Rachael Haynes',
 'Tammy Beaumont',
 'Amy Satterthwaite',
 'Smriti Mandhana']

In [97]:
team=[]
for i in soup.find_all("span",class_="table-body__logo-text"):
    team.append(i.text)
team=team[0:9]
team.insert(0,'PAK')
team

['PAK', 'AUS', 'AUS', 'ENG', 'AUS', 'IND', 'AUS', 'ENG', 'NZ', 'IND']

In [98]:
rating=[]
for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    rating.append(i.text)
x=rating[0:1]
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    x.append(i.text)
rating=x[0:10]
rating

['740', '726', '718', '705', '703', '686', '684', '682', '681', '669']

In [99]:
import pandas as pd
df=pd.DataFrame({"Top 10 ODI Batsman":batsman_name,'Team':team,'Rating':rating})
df

  Top 10 ODI Batsman Team Rating
0    Laura Wolvaardt  PAK    740
1        Beth Mooney  AUS    726
2        Meg Lanning  AUS    718
3     Natalie Sciver  ENG    705
4       Alyssa Healy  AUS    703
5        Mithali Raj  IND    686
6     Rachael Haynes  AUS    684
7     Tammy Beaumont  ENG    682
8  Amy Satterthwaite   NZ    681
9    Smriti Mandhana  IND    669

In [101]:
#Answer of question (c)Top 10 women’s ODI all-rounder along with the records of their team and ratin

In [102]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi"
page=requests.get(url)
page

In [103]:
soup=BeautifulSoup(page.content)

In [104]:
player_name=[]
for i in soup.find_all('div',class_="rankings-block__banner--name"):
    player_name.append(i.text)
x=player_name[2:3]

In [105]:
x

['Ellyse Perry']

In [106]:
y=[]
for i in soup.find_all("td",class_="table-body__cell name"):
    y.append(i.text.replace("\n",''))
y=y[18:27]
y

['Natalie Sciver',
 'Marizanne Kapp',
 'Hayley Matthews',
 'Amelia Kerr',
 'Ashleigh Gardner',
 'Deepti Sharma',
 'Jess Jonassen',
 'Katherine Brunt',
 'Jhulan Goswami']

In [107]:
x.extend(y)
x

['Ellyse Perry',
 'Natalie Sciver',
 'Marizanne Kapp',
 'Hayley Matthews',
 'Amelia Kerr',
 'Ashleigh Gardner',
 'Deepti Sharma',
 'Jess Jonassen',
 'Katherine Brunt',
 'Jhulan Goswami']

In [108]:
team=[]
for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
team=team[18:27]
team.insert(0,"AUS")
team

['AUS', 'ENG', 'SA', 'WI', 'NZ', 'AUS', 'IND', 'AUS', 'ENG', 'IND']

In [109]:
rating=[]
for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
rating=rating[18:27]
rating.insert(0,'404')
rating

['404', '376', '359', '340', '335', '278', '249', '246', '239', '217']

In [110]:
import pandas as pd 
df=pd.DataFrame({"Top 10 women’s ODI all-rounder":x,'Team':team,'Rating':rating})
df

  Top 10 women’s ODI all-rounder Team Rating
0                   Ellyse Perry  AUS    404
1                 Natalie Sciver  ENG    376
2                 Marizanne Kapp   SA    359
3                Hayley Matthews   WI    340
4                    Amelia Kerr   NZ    335
5               Ashleigh Gardner  AUS    278
6                  Deepti Sharma  IND    249
7                  Jess Jonassen  AUS    246
8                Katherine Brunt  ENG    239
9                 Jhulan Goswami  IND    217

# 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [111]:
import requests
from bs4 import BeautifulSoup

In [112]:
url="https://coreyms.com/"
page=requests.get(url)
soup=BeautifulSoup(page.content)

In [113]:
heading=[]
for i in soup.find_all("a",class_="entry-title-link"):
    heading.append(i.text)
heading.pop(4)

'Update (2019-09-03)'

In [114]:
heading

['Python Tutorial: Zip Files – Creating and Extracting Zip Archives',
 'Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey',
 'Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module',
 'Python Threading Tutorial: Run Code Concurrently Using the Threading Module',
 'Python Quick Tip: The Difference Between “==” and “is” (Equality vs Identity)',
 'Python Tutorial: Calling External Commands Using the Subprocess Module',
 'Visual Studio Code (Windows) – Setting up a Python Development Environment and Complete Overview',
 'Visual Studio Code (Mac) – Setting up a Python Development Environment and Complete Overview',
 'Clarifying the Issues with Mutable Default Arguments']

In [115]:
date=[]
for i in soup.find_all('time',class_="entry-time"):
    date.append(i.text)
date.pop(4)
date

['November 19, 2019',
 'October 17, 2019',
 'September 21, 2019',
 'September 12, 2019',
 'August 6, 2019',
 'July 24, 2019',
 'May 1, 2019',
 'May 1, 2019',
 'April 24, 2019']

In [116]:
content=[]
for i in soup.find_all('div',class_="entry-content"):
    content.append(i.text.replace('\n',""))
content.pop(4)
content

['In this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…',
 'In this Python Programming video, we will be learning how to download and analyze real-world data from the 2019 Stack Overflow Developer Survey. This is terrific practice for anyone getting into the data science field. We will learn different ways to analyze this data and also some best practices. Let’s get started…',
 'In this Python Programming video, we will be learning how to run code in parallel using the multiprocessing module. We will also look at how to process multiple high-resolution images at the same time using a ProcessPoolExecutor from the concurrent.futures module. Let’s get started…',
 'In this Python Programming video, we will be learning how to run threads concurrently using the threading module. We will also look at how to download multiple high-resolution images online using a ThreadPoolExecutor from the concurrent.futures module. Let’s get started…',
 'In this Python Programming Tutorial, we will be learning the difference between using “==” and the “is” keyword when doing comparisons. The difference between these is that “==” checks to see if values are equal, and the “is” keyword checks their identity, which means it’s going to check if the values are identical in terms of being the same object in memory. We’ll learn more in the video. Let’s get started…',
 'In this Python Programming Tutorial, we will be learning how to run external commands using the subprocess module from the standard library. We will learn how to run commands, capture the output, handle errors, and also how to pipe output into other commands. Let’s get started…',
 'In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on Windows. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…VSCode on MacOS – https://youtu.be/06I63_p-2A4Timestamps for topics in this tutorial: Installation – 1:13 Python Extension – 5:48 Switching Interpreters – 10:04 Changing Color Themes – 12:35 VSCode Settings – 16:16 Set Default Python – 21:33 Using Virtual Environments – 25:10 IntelliSense – 29:45 Code Formatting – 32:13 Code Linting – 37:06 Code Runner Extension – 39:42 Git Integration – 47:44 Use Different Terminal – 51:07 Debugging – 58:45 Unit Testing – 1:03:25 Zen Mode – 1:09:55',
 'In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on MacOS. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…VSCode on Windows – https://youtu.be/-nh9rCzPJ20Timestamps for topics in this tutorial: Installation – 1:11 Python Extension – 6:21 Switching Interpreters – 10:16 Changing Color Themes – 13:08 VSCode Settings – 17:12 Set Default Python – 22:24 Using Virtual Environments – 25:52 IntelliSense – 30:28 Code Formatting – 33:08 Code Linting – 38:01 Code Runner Extension – 40:45 Git Integration – 49:05 Debugging – 58:15 Unit Testing – 1:02:38 Zen Mode – 1:10:42 ',
 'In this Python Programming Tutorial, we will be clarifying the issues with mutable default arguments. We discussed this in my last video titled “5 Common Python Mistakes and How to Fix Them”, but I received many comments from people who were still confused. So we will be doing a deeper dive to explain exactly what is going on here. Let’s get started…']

In [117]:
video_code=[]
for i in soup.find_all('iframe',class_="youtube-player"):
    video_code.append(i)
video_code

[<iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/z0gguhEmWiY?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe>,
 <iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/_P7X8tMplsw?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe>,
 <iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/fKl2JW_qrso?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe>,
 <iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/IEEhzQoKtQU?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe>,
 <iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/mO_dS3rXDIs?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe>,
 <iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/2Fp1N6dof0Y?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe>,
 <iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/-nh9rCzPJ20?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe>,
 <iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/06I63_p-2A4?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe>,
 <iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/_JGmemuINww?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe>]

In [118]:
import pandas as pd
df=pd.DataFrame({'HEADING':heading,'DATE':date,'CONTENT':content,'CODE FOE VIDEO':video_code})
df

,HEADING,DATE,CONTENT,CODE FOE VIDEO
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to crea...",[]
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be l...",[]
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be l...",[]
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be l...",[]
4,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will b...",[]
5,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will b...",[]
6,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will b...",[]
7,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will b...",[]
8,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will b...",[]

# 8) Write a python program to scrape house details from mentioned URL. It should include house title, location,area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [1]:
import requests
from bs4 import BeautifulSoup

In [18]:
url="https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIifSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Indiranagar,&locality=Jayanagar,&locality=Rajajinagar"
page=requests.get(url)
page

In [19]:
soup=BeautifulSoup(page.content)

In [20]:
house_title=[]
for i in soup.find_all("span",class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full"):
    house_title.append(i.text)
house_title

['4+ BHK In Independent House  For Sale  In Prakash Nagar, Rajaji Nagar',
 '4+ BHK In Independent House  For Sale  In Rajaji Nagar',
 '2 BHK Apartment  For Sale  In Tarang Parkway Apartment In Basaveshwar Nagar',
 '2 BHK Flat  For Sale  In Kumar Ashraya Apartments In Jayanagar',
 '3 BHK Apartment  For Sale  In Ashiana Gardens Apartments In Indiranagar',
 '3 BHK Apartment  For Sale  In Brigade Gateway In Rajaji Nagar',
 '2 BHK Apartment  For Sale  In Blueberry Apartment In Indiranagar',
 '3 BHK Apartment  For Sale  In Mayitri Enclave In Jayanagar',
 '2 BHK Flat  For Sale  In Jains Prakruti, Jayanagar In Jayanagar 7th Block',
 "4 BHK In Independent House  For Sale  In Jayanagar 4th 't' Block",
 '3 BHK Flat  For Sale  In Benaka Apartments In Indiranagar',
 '2 BHK Apartment  For Sale  In Jains Prakriti In Jayanagar',
 '2 BHK Flat  For Sale  In Jayanagar Residency In Jayanagar',
 '4 BHK Flat  For Sale  In Rrbc Piccassso In Jayanagar',
 '4 BHK Flat  For Sale  In Phoenix  One Bangalore West In Rajajinagar',
 '4+ BHK In Independent House  For Sale  In Lakshmipuram Indrinagar',
 '3 BHK Flat  For Sale  In Rajaji Nagar',
 '3 BHK Flat  For Sale  In  Sgrr Pallavi Pristine In Jayanagar',
 '3 BHK Flat  For Sale  In Hal 2nd Stage,indiranagar  ',
 '4 BHK Flat  For Sale  In Golfridge In Indira Nagar',
 '4+ BHK In Independent House  For Sale  In Rajajinagar',
 '4 BHK In Independent House  For Sale  In Jayanagar',
 '2 BHK Flat  For Sale  In Aishwaryam Gokula In Govindraja Nagar',
 '3 BHK Apartment  For Sale  In Admiralty Manor, Indiranagar In Indiranagar',
 '2 BHK Flat  For Sale  In Aishwaryam Ranga In Gayatrinagar, Rajaji Nagar']

In [17]:
location=[]
for i in soup.find_all("div",class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
    location.append(i.text)
location

['Independent House, 6th C cross 3rd main rd near Ayyappa Temple',
 'Independent House,  6th Cross road,9th main road  Prakash Nagar, Near Metro Station,  BBMP YOGA CENTRE',
 'Tarang Parkway Apartment\xa0 2nd Main Rd, Shivanagar, Basaveshwar Nagar, Bengaluru, Karnataka 560010, India',
 ' Kumar Ashraya Apartments 194, 9th Cross Rd 2nd Block, Jayanagar Bengaluru, Karnataka 560011 India',
 'Ashiana Gardens Apartments\xa0 4, Sri Rama Temple Rd, Channakesahava Nagar, HAL 2nd Stage, Doopanahalli, Indiranagar, Bengaluru, Karnataka 560008, India',
 'Brigade Gateway\xa0 Dr Rajkumar Road, Rajaji Nagar, Bengaluru, Karnataka 560055, India',
 'Blueberry Apartment\xa0 13th E Main Rd, Channakesahava Nagar, HAL 2nd Stage, Doopanahalli, Indiranagar, Bengaluru, Karnataka 560008, India',
 'Mayitri Enclave\xa0 Mayitri Enclave, 39th C, 5T Block, 4th T Block East, Jayanagar, Bengaluru, Karnataka 5600041, India',
 'Kanakapura Road, Jayanagar, Bangalore, Karnataka, INDIA.',
 'Independent House, SBI Branch Jayanagar 9th blk, Bunny Bakers',
 '871, 5th Cross Rd, Indira Nagar 1st Stage, Stage 1, Indiranagar, Bengaluru, Karnataka 560038, India',
 'Jains Prakriti\xa0  Kanakapura Rd, 7th Block West, 7th Block, Jayanagar, Bengaluru, Karnataka 560070, India',
 'Jayanagar Residency, K V Layout, LIC Colony, Jayanagar 3rd Block East, Jayanagar, Bengaluru, Karnataka 560011, India',
 'Municipal No.152, 18th main road, beside Sai Baba Temple, Jayanagara 9th Block, Jayanagar, Bengaluru, Karnataka 560056, India',
 'Dr Rajkumar Rd, opposite Sheraton Hotel, Rajajinagar',
 'Independent House, CMH Rd , Near B P Bakery',
 'Independent House, 242, 27th cross, 2nd Block, Rajajinagar, Bangalore-560010',
 '11th Main Road,36 Cross, 4th T Block, Near ,Post office, Jayanagar HPO',
 'Standalone building, 16th F main, Hal 2nd stage indrananagr blore ',
 'embassy golf link road',
 'Independent House, 6th Cross Rd, 2nd Block  near  SMC Enclave ',
 'Independent House, 47th Cross Rd, 8th Block, 1st Phase, Near Maha Lakshmi Temple and Sir M Vishweshwaraiah Cooperative Bank Limited',
 '1st main govindraja naagar blore 560040',
 'Admiralty Manor, Indiranagar\xa0 Admiralty Manor, 6th Main Rd, Eshwara Layout, Indiranagar, Bengaluru, Karnataka 560008, India',
 'Near gayatrinagarpostoffice']

In [26]:
x=[]
for i in soup.find_all("div",class_="font-semi-bold heading-6"):
    x.append(i.text)
x

['2,200 sqft',
 '₹77,374/Month',
 '₹1.35 Crores',
 '1,320 sqft',
 '₹63,045/Month',
 '₹1.1 Crores',
 '1,200 sqft',
 '₹57,314/Month',
 '₹1 Crore',
 '900 sqft',
 '₹37,827/Month',
 '₹66 Lacs',
 '1,780 sqft',
 '₹80,240/Month',
 '₹1.4 Crores',
 '1,640 sqft',
 '₹1.5 Lacs/Month',
 '₹2.62 Crores',
 '1,074 sqft',
 '₹87,691/Month',
 '₹1.53 Crores',
 '1,450 sqft',
 '₹44,705/Month',
 '₹78 Lacs',
 '1,301 sqft',
 '₹85,971/Month',
 '₹1.5 Crores',
 '2,600 sqft',
 '₹1.55 Lacs/Month',
 '₹2.7 Crores',
 '1,331 sqft',
 '₹48,717/Month',
 '₹85 Lacs',
 '1,298 sqft',
 '₹1.15 Lacs/Month',
 '₹2 Crores',
 '1,200 sqft',
 '₹57,314/Month',
 '₹1 Crore',
 '4,859 sqft',
 '₹3.91 Lacs/Month',
 '₹6.83 Crores',
 '2,901 sqft',
 '₹2.72 Lacs/Month',
 '₹4.75 Crores',
 '2,250 sqft',
 '₹63,045/Month',
 '₹1.1 Crores',
 '1,275 sqft',
 '₹77,374/Month',
 '₹1.35 Crores',
 '1,340 sqft',
 '₹74,508/Month',
 '₹1.3 Crores',
 '2,200 sqft',
 '₹2.12 Lacs/Month',
 '₹3.7 Crores',
 '2,750 sqft',
 '₹1.63 Lacs/Month',
 '₹2.85 Crores',
 '2,240 sqft',
 '₹83,679/Month',
 '₹1.46 Crores',
 '3,700 sqft',
 '₹5.44 Lacs/Month',
 '₹9.5 Crores',
 '1,209 sqft',
 '₹44,705/Month',
 '₹78 Lacs',
 '1,960 sqft',
 '₹91,703/Month',
 '₹1.6 Crores',
 '1,150 sqft',
 '₹51,583/Month',
 '₹90 Lacs']

In [31]:
area=[]
i=0
while(i<75):
    area.append(x[i])
    i=i+3
area

['2,200 sqft',
 '1,320 sqft',
 '1,200 sqft',
 '900 sqft',
 '1,780 sqft',
 '1,640 sqft',
 '1,074 sqft',
 '1,450 sqft',
 '1,301 sqft',
 '2,600 sqft',
 '1,331 sqft',
 '1,298 sqft',
 '1,200 sqft',
 '4,859 sqft',
 '2,901 sqft',
 '2,250 sqft',
 '1,275 sqft',
 '1,340 sqft',
 '2,200 sqft',
 '2,750 sqft',
 '2,240 sqft',
 '3,700 sqft',
 '1,209 sqft',
 '1,960 sqft',
 '1,150 sqft']

In [33]:
emi=[]
i =1
while(i<75):
    emi.append(x[i])
    i=i+3
emi

['₹77,374/Month',
 '₹63,045/Month',
 '₹57,314/Month',
 '₹37,827/Month',
 '₹80,240/Month',
 '₹1.5 Lacs/Month',
 '₹87,691/Month',
 '₹44,705/Month',
 '₹85,971/Month',
 '₹1.55 Lacs/Month',
 '₹48,717/Month',
 '₹1.15 Lacs/Month',
 '₹57,314/Month',
 '₹3.91 Lacs/Month',
 '₹2.72 Lacs/Month',
 '₹63,045/Month',
 '₹77,374/Month',
 '₹74,508/Month',
 '₹2.12 Lacs/Month',
 '₹1.63 Lacs/Month',
 '₹83,679/Month',
 '₹5.44 Lacs/Month',
 '₹44,705/Month',
 '₹91,703/Month',
 '₹51,583/Month']

In [34]:
price=[]
i=2
while(i<75):
    price.append(x[i])
    i=i+3
price

['₹1.35 Crores',
 '₹1.1 Crores',
 '₹1 Crore',
 '₹66 Lacs',
 '₹1.4 Crores',
 '₹2.62 Crores',
 '₹1.53 Crores',
 '₹78 Lacs',
 '₹1.5 Crores',
 '₹2.7 Crores',
 '₹85 Lacs',
 '₹2 Crores',
 '₹1 Crore',
 '₹6.83 Crores',
 '₹4.75 Crores',
 '₹1.1 Crores',
 '₹1.35 Crores',
 '₹1.3 Crores',
 '₹3.7 Crores',
 '₹2.85 Crores',
 '₹1.46 Crores',
 '₹9.5 Crores',
 '₹78 Lacs',
 '₹1.6 Crores',
 '₹90 Lacs']

In [35]:
import pandas as pd
df=pd.DataFrame({"HOUSE TITLE":house_title,"LOCATION":location,"AREA":area,"EMI":emi,"PRICE":price})

In [36]:
df

,HOUSE TITLE,LOCATION,AREA,EMI,PRICE
0,4+ BHK In Independent House For Sale In Prak...,"Independent House, 6th C cross 3rd main rd nea...","2,200 sqft","₹77,374/Month",₹1.35 Crores
1,4+ BHK In Independent House For Sale In Raja...,"Independent House, 6th Cross road,9th main ro...","1,320 sqft","₹63,045/Month",₹1.1 Crores
2,2 BHK Apartment For Sale In Tarang Parkway A...,"Tarang Parkway Apartment 2nd Main Rd, Shivana...","1,200 sqft","₹57,314/Month",₹1 Crore
3,2 BHK Flat For Sale In Kumar Ashraya Apartme...,"Kumar Ashraya Apartments 194, 9th Cross Rd 2n...",900 sqft,"₹37,827/Month",₹66 Lacs
4,3 BHK Apartment For Sale In Ashiana Gardens ...,"Ashiana Gardens Apartments 4, Sri Rama Temple...","1,780 sqft","₹80,240/Month",₹1.4 Crores
5,3 BHK Apartment For Sale In Brigade Gateway ...,"Brigade Gateway Dr Rajkumar Road, Rajaji Naga...","1,640 sqft",₹1.5 Lacs/Month,₹2.62 Crores
6,2 BHK Apartment For Sale In Blueberry Apartm...,"Blueberry Apartment 13th E Main Rd, Channakes...","1,074 sqft","₹87,691/Month",₹1.53 Crores
7,3 BHK Apartment For Sale In Mayitri Enclave ...,"Mayitri Enclave Mayitri Enclave, 39th C, 5T B...","1,450 sqft","₹44,705/Month",₹78 Lacs
8,"2 BHK Flat For Sale In Jains Prakruti, Jayan...","Kanakapura Road, Jayanagar, Bangalore, Karnata...","1,301 sqft","₹85,971/Month",₹1.5 Crores
9,4 BHK In Independent House For Sale In Jayan...,"Independent House, SBI Branch Jayanagar 9th bl...","2,600 sqft",₹1.55 Lacs/Month,₹2.7 Crores
10,3 BHK Flat For Sale In Benaka Apartments In ...,"871, 5th Cross Rd, Indira Nagar 1st Stage, Sta...","1,331 sqft","₹48,717/Month",₹85 Lacs
11,2 BHK Apartment For Sale In Jains Prakriti I...,"Jains Prakriti Kanakapura Rd, 7th Block West...","1,298 sqft",₹1.15 Lacs/Month,₹2 Crores
12,2 BHK Flat For Sale In Jayanagar Residency I...,"Jayanagar Residency, K V Layout, LIC Colony, J...","1,200 sqft","₹57,314/Month",₹1 Crore
13,4 BHK Flat For Sale In Rrbc Piccassso In Jay...,"Municipal No.152, 18th main road, beside Sai B...","4,859 sqft",₹3.91 Lacs/Month,₹6.83 Crores
14,4 BHK Flat For Sale In Phoenix One Bangalor...,"Dr Rajkumar Rd, opposite Sheraton Hotel, Rajaj...","2,901 sqft",₹2.72 Lacs/Month,₹4.75 Crores
15,4+ BHK In Independent House For Sale In Laks...,"Independent House, CMH Rd , Near B P Bakery","2,250 sqft","₹63,045/Month",₹1.1 Crores
16,3 BHK Flat For Sale In Rajaji Nagar,"Independent House, 242, 27th cross, 2nd Block,...","1,275 sqft","₹77,374/Month",₹1.35 Crores
17,3 BHK Flat For Sale In Sgrr Pallavi Pristin...,"11th Main Road,36 Cross, 4th T Block, Near ,Po...","1,340 sqft","₹74,508/Month",₹1.3 Crores
18,"3 BHK Flat For Sale In Hal 2nd Stage,indiran...","Standalone building, 16th F main, Hal 2nd stag...","2,200 sqft",₹2.12 Lacs/Month,₹3.7 Crores
19,4 BHK Flat For Sale In Golfridge In Indira N...,embassy golf link road,"2,750 sqft",₹1.63 Lacs/Month,₹2.85 Crores
20,4+ BHK In Independent House For Sale In Raja...,"Independent House, 6th Cross Rd, 2nd Block ne...","2,240 sqft","₹83,679/Month",₹1.46 Crores
21,4 BHK In Independent House For Sale In Jayan...,"Independent House, 47th Cross Rd, 8th Block, 1...","3,700 sqft",₹5.44 Lacs/Month,₹9.5 Crores
22,2 BHK Flat For Sale In Aishwaryam Gokula In ...,1st main govindraja naagar blore 560040,"1,209 sqft","₹44,705/Month",₹78 Lacs
23,"3 BHK Apartment For Sale In Admiralty Manor,...","Admiralty Manor, Indiranagar Admiralty Manor,...","1,960 sqft","₹91,703/Month",₹1.6 Crores
24,2 BHK Flat For Sale In Aishwaryam Ranga In G...,Near gayatrinagarpostoffice,"1,150 sqft","₹51,583/Month",₹90 Lacs

# 9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [119]:
import requests
from bs4 import BeautifulSoup

In [120]:
url='https://www.dineout.co.in/delhi-restaurants/buffet-special'
page=requests.get(url)
page

In [121]:
soup=BeautifulSoup(page.content)

In [122]:
# Scraping Resturent Name

In [123]:
Resturent_name=[]
for i in soup.find_all('div',class_="restnt-info cursor"):
    Resturent_name.append(i.text)
Resturent_name

['Castle BarbequeConnaught Place, Central Delhi',
 'Jungle Jamboree3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Castle BarbequePacific Mall,Tagore Garden, West Delhi',
 'Cafe KnoshThe Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'The Barbeque CompanyGardens Galleria,Sector 38A, Noida',
 'India GrillHilton Garden Inn,Saket, South Delhi',
 'Delhi BarbequeTaurus Sarovar Portico,Mahipalpur, South Delhi',
 'The Monarch - Bar Be Que VillageIndirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'World CafeVibe by The Lalit Traveller,Sector 35, Faridabad',
 'Indian Grill RoomSuncity Business Tower,Golf Course Road, Gurgaon',
 'Mad 4 Bar B QueSector 29, Faridabad',
 'Barbeque 29NIT, Faridabad',
 'GlasshouseDoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [124]:
#Scraping Location

In [125]:
Location=[]
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    Location.append(i.text)
Location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [126]:
#Scraping Rating

In [127]:
Rating=[]
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    Rating.append(i.text)
Rating

['3.5',
 '3.9',
 '3.9',
 '4.3',
 '4',
 '3.9',
 '3.7',
 '3.9',
 '4.2',
 '4.3',
 '3.6',
 '4.2',
 '4']

In [128]:
#Scraping Image URL

In [129]:
Image_URL=[]
for i in soup.find_all('img',class_="no-img"):
    Image_URL.append(i['data-src'])
Image_URL

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/h/c/p3643-144497865356209fdd65746.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/d/p549-15291237715b2493bb2a415.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/n/t/p43488-1647323111623027e763947.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/a/p9875-1645177960620f6c68ecfef.jpg?tr=tr:n-medium']

# 10) Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [137]:
import requests
from bs4 import BeautifulSoup

In [138]:
url='https://www.bewakoof.com/women-clothing'
page=requests.get(url)
page

In [141]:
soup=BeautifulSoup(page.content)

In [142]:
product_name=[]
for i in soup.find_all('div',class_="productCardDetail"):
    product_name.append(i.text)
product_name

['Wonder Women Stripes Round Neck 3/4th Sleeve T-Shirt (DCL) Bold Red₹ 199499₹179For TriBe Members ',
 'Peace Jerry Half Sleeve Printed T-Shirt (TJL) White₹ 299549₹279For TriBe Members ',
 'Sleepy Cat₹ 349499₹319For TriBe Members ',
 'Cute But Crazy Half Sleeve Printed T-Shirt (TJL) Black₹ 349549₹319For TriBe Members ',
 'Cute But Crazy Boyfriend T-Shirt (TJL) Black₹ 349549FEW LEFT₹319For TriBe Members ',
 'Pink Raglan Dress₹ 599899₹549For TriBe Members ',
 'Hello Sunshine Half Sleeve Printed T-Shirt Black₹ 349549₹319For TriBe Members ',
 'Varsity Black Denim Jacket₹ 6991749₹649For TriBe Members ',
 'Sleeveless Ice Blue Denim Jacket₹ 6991699FEW LEFT₹649For TriBe Members ',
 'Camera Mickey Fleece Sweatshirt (DL) Mustard Yellow₹ 449999₹419For TriBe Members ']

In [143]:
price=[]
for i in soup.find_all('span',class_="discountedPriceText"):
    price.append(i.text)
price

['₹ 199',
 '₹ 299',
 '₹ 349',
 '₹ 349',
 '₹ 349',
 '₹ 599',
 '₹ 349',
 '₹ 699',
 '₹ 699',
 '₹ 449']

In [144]:
image_url=[]
for i in soup.find_all('img',class_="productImgTag"):
    image_url.append(i['src'])
image_url

['https://images.bewakoof.com/t320/wonder-women-stripes-round-neck-3-4th-sleeve-t-shirt-dcl-bold-red-295631-1638213910-1.jpg',
 'https://images.bewakoof.com/t320/peace-jerry-half-sleeve-printed-t-shirt-tjl-white-women-s-half-sleeve-printed-t-shirt-295801-1603465610.jpg',
 'https://images.bewakoof.com/t320/sleepy-cat-round-neck-3-4-sleeve-t-shirts-navy-blue-women-s-printed-round-neck-3-4-sleeve-t-shirts-295697-1603970408.jpg',
 'https://images.bewakoof.com/t320/cute-but-crazy-half-sleeve-printed-t-shirt-tjl-black-296384-1635869239-1.jpg',
 'https://images.bewakoof.com/t320/cute-but-crazy-boyfriend-t-shirt-tjl-black-296385-1638786355-1.jpg',
 'https://images.bewakoof.com/t320/pink-raglan-dress-296751-1638214973-1.jpg',
 'https://images.bewakoof.com/t320/hello-sunshine-half-sleeve-printed-t-shirt-black-296648-1638021561-1.jpg',
 'https://images.bewakoof.com/t320/varsity-black-denim-jacket-296448-1638213251-1.jpg',
 'https://images.bewakoof.com/t320/sleeveless-ice-blue-denim-jacket-296452-1638213279-1.jpg',
 'https://images.bewakoof.com/t320/camera-mickey-fleece-sweatshirt-dl-mustard-yellow-297861-1633522553-1.jpg']

In [145]:
#making Dataframe
import pandas as pd
df=pd.DataFrame({'PRODUCT_NAME':product_name,'PRICE':price,'IMAGE_URL':image_url})
df

,PRODUCT_NAME,PRICE,IMAGE_URL
0,Wonder Women Stripes Round Neck 3/4th Sleeve T...,₹ 199,https://images.bewakoof.com/t320/wonder-women-...
1,Peace Jerry Half Sleeve Printed T-Shirt (TJL) ...,₹ 299,https://images.bewakoof.com/t320/peace-jerry-h...
2,Sleepy Cat₹ 349499₹319For TriBe Members,₹ 349,https://images.bewakoof.com/t320/sleepy-cat-ro...
3,Cute But Crazy Half Sleeve Printed T-Shirt (TJ...,₹ 349,https://images.bewakoof.com/t320/cute-but-craz...
4,Cute But Crazy Boyfriend T-Shirt (TJL) Black₹ ...,₹ 349,https://images.bewakoof.com/t320/cute-but-craz...
5,Pink Raglan Dress₹ 599899₹549For TriBe Members,₹ 599,https://images.bewakoof.com/t320/pink-raglan-d...
6,Hello Sunshine Half Sleeve Printed T-Shirt Bla...,₹ 349,https://images.bewakoof.com/t320/hello-sunshin...
7,Varsity Black Denim Jacket₹ 6991749₹649For Tri...,₹ 699,https://images.bewakoof.com/t320/varsity-black...
8,Sleeveless Ice Blue Denim Jacket₹ 6991699FEW L...,₹ 699,https://images.bewakoof.com/t320/sleeveless-ic...
9,Camera Mickey Fleece Sweatshirt (DL) Mustard Y...,₹ 449,https://images.bewakoof.com/t320/camera-mickey...